.topo{
  width: calc(100vw-8px);
  background-color: #ccc;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.calendar {
    float: left;
    width: 40vw;
    height: 40vw;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
  }
  
  .header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
  }
  .header img{
    height: 100%;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #e0e0e0;
  }
  
  .day {
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  
  .dates {
    height: 91%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #fff;
  }
  
  .date {
    line-height: 28px;
    text-align: left;
    font-size: 30px;
    font-family: 'Tac One';
    padding: 10px 20px;
  }
  
  .date:not(.current-month) {
    color: #999;
  }
  
  .date:hover {
    background-color: #00eeff;
  }
  
.eventos{
  float: right;
  width: 50vw;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}
  .headerEvents{
    height: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  .blocoEventos{
    padding: 5px 5px 5px 5px;
    width: calc(100% - 10px);
    background-color: #bbb;
    font-family: Arial, sans-serif;
  }
  #inputText{
    width: 50%;
    font-size: 20px;
  }
  .evento{
    height: 30px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 15px);
    margin: 2px 2px 2px 2px;
    background-color:burlywood;
    font-family: Arial, sans-serif;
    padding: 5px;
  }
  .evento:hover{
    background-color:aquamarine;
  }